 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #fffffe;
}

.container .historia {
    bottom: 30px;
    margin: 40px auto;
    border: 1px solid #CCC;
    border-radius: 5px;
    height: 150px;
    width: 90%;
    padding: 15px;
    font-weight: 400px;
    box-shadow: inset 0 0 1em #CCC, 0 0 1em rgb(44, 44, 44);
}
 
.since{
    display: block;
    margin:auto;
}

.container .historia p {
    text-align: justify;
    font-family: 'Rajdhani', sans-serif;
}

html{
    scroll-behavior: smooth;
}





/* newsletter */
.newsletter{
    display: flex;
    background-color: #16161aec;
    justify-content: space-around;
    text-align: center;
    color: white;
    height: 15.62rem;
}

.newsletter div{
    margin:1.6rem;
}

form{
    margin-top: 30px;
}

.newsletter div input[type="email"]{
    height: 2.5rem;/* altura do input do email */
    width: 30rem; 
    text-align: center;
    border-radius: 5px;
    border: none;
    outline: none;
}

.newsletter h2{
    font-size: 1.5rem;
}

.newsletter button{
    width: 11.75rem;
    height: 2.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #26b67d;
    font-size: 1.1rem;
    color: whitesmoke;   
}

button:hover {
    background-color: #7f5af0;
}

p{
  margin-bottom: 30rem;
 
}

/* PARALLAX */

.parallax{
    background-image: url("../img/sobre-nós.jpg");
    min-height: 50vh;
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
}

.parallax img{
    width: 45%;
}
/* estilização do parágrafo */
main > p {
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    margin-left: 4rem;
    margin-right: 3rem;
    margin-top: -9rem;
}

h1 {
    margin-top: 5rem;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2rem;
}

/* ====================== FOOTER =========================================== */

footer {
    padding: 1.5rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

footer h3 {
    color: #7f5af0;
}



@media (min-width: 360px) and (max-width: 640px)
{
  .container .historia
   {
    height: 400px;
   }
}